---
import Button from "./Button.astro";
const {
  icon,
  icon_text,
  headline,
  text,
  class: className,
  buttonLabel,
  buttonHref,
} = Astro.props;
---

<article class={`action-card ${className}`}>
  <div class="circle">
    <img src={icon} alt={icon_text} />
  </div>
  <div class="box">
    <h5>{headline}</h5>
    <p>
      {text}
    </p>
    <Button href={buttonHref} label={buttonLabel} />
  </div>
</article>

<style>
  .action-card {
    display: flex;
    flex-direction: column; /* mobil: vertikal stacking */
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 60px 0;
    position: relative;
  }

  .action-card.reverse {
    flex-direction: column; /* mobil: samme stacking */
  }

  /* lodret linje på mobil */
  .action-card::before {
    content: "";
    position: absolute;
    top: 140px; /* lige under cirklen */
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 2px;
    background: var(--orange);
    z-index: -1;
  }

  .action-card:nth-of-type(2)::before {
    background: var(--pink);
  }

  .action-card:nth-of-type(3)::before {
    background: var(--lighter-blue);
  }

  .circle {
    flex-shrink: 0;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .circle img {
    width: 60px;
    height: auto;
  }

  .box {
    background-color: var(--box-grey);
    border-radius: 20px;
    padding: 50px 15px 15px;
    border: 1px solid var(--orange);
    max-width: 650px;
    flex-grow: 1;
    background: var(--box-grey);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* farve-varianter */
  .action-card:nth-of-type(2) .circle {
    background-color: var(--pink);
  }
  .action-card:nth-of-type(2) .box {
    border-color: var(--pink);
  }
  .action-card:nth-of-type(3) .circle {
    background-color: var(--lighter-blue);
  }
  .action-card:nth-of-type(3) .box {
    border-color: var(--lighter-blue);
  }

  /* DESKTOP OVERSKRIVES i media query */
  @media screen and (min-width: 850px) {
    .action-card {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .action-card.reverse {
      flex-direction: row-reverse;
    }

    .action-card::before {
      content: "";
      top: 50%;
      left: 140px;
      width: 400px;
      height: 2px;
      transform: translateY(-50%);
      background: var(--orange);
    }

    .action-card.reverse::before {
      left: auto;
      right: 140px;
      background: var(--pink);
    }
    .box {
      padding: 50px 30px 30px;
    }
  }
</style>
